header {
  background-color: rgba(248, 189, 140, 0.829);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 2px 2px 10px rgb(92, 91, 91);
}

header h1 {
  font-family: "Rowdies", cursive;
  font-size: 2.5em;
  margin: 0 0 0 20px;
  color: rgb(85, 49, 2);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

nav .navl {
  padding: 10px 30px;
  font-size: 1.2em;
}

nav .navl:hover {
  text-shadow: 2px 2px 3px rgb(99, 98, 98);
}

.navl {
  text-decoration: none;
  color: rgb(85, 49, 2);
  font-family: "Cabin", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Rowdies", cursive;
  font-size: 1.5em;
  margin-left: 50px;
}
